body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'BH';
    src: url('../Font/BAHNSCHRIFT\ 7.TTF');
}

:root {
    --white: #fff;
    --normalwhite: #f1f1f1;
    --blue: rgb(47, 92, 218);
    --black: rgb(25, 25, 25);
}

/* Header.js component */

.fullscreen-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 0;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.header_links {
    position: relative;
    right: 0;
}

.header_links :nth-child(3) {
    font-family: 'BH';
    padding: .8rem .8rem;
    cursor: pointer;
    color: var(--white);
    appearance: none;
    border-style: none;
    margin: 2rem 3rem;
    font-weight: 700;
    font-size: 15px;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    border-top-right-radius: .8rem;
    background-color: var(--blue);
    box-shadow:
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.header_links a {
    color: var(--white);
    font-family: 'BH';
    font-size: 17px;
    font-weight: 500;
    margin-left: 15px;
}

.header h2 {
    font-weight: 600;
    color: var(--white);
    font-family: 'BH';
    padding: 1.3rem 4rem;
}

/* Nav.js component */
.description {
    position: absolute;
    color: var(--normalwhite);
    font-size: 66px;
    line-height: 80px;
    font-weight: 400;
    font-family: 'BH';
    padding: 10rem 9rem;
}

.mini_description {
    position: absolute;
    color: var(--normalwhite);
    padding: 16rem 9.3rem;
    font-size: 17px;
    font-family: 'BH';
    top: 35%;
}

/* Content.js component */
.content {
    height: 280vh;
    width: 100%;
    background-color: var(--black);
    position: absolute;
    top: 100%;
}